doctype html
html
  head
    meta(charset="utf-8")
    title $63k
    link(href="/css/style.css", rel="stylesheet", type="text/css")
  body
    #controls
      input#rotate.slider(type="range", max="30", min="-30", step="0.1", value="0")
      input#scale.slider(type="range", max="2.4", min="0.7", step="0.05", value="1")
      br
      input#translateX.slider(type="range", max="15", min="-15", step="0.1", value="0")
      input#translateY.slider(type="range", max="15", min="-15", step="0.1", value="0")
      br
      input#reset(type="button", value="reset")
      label
        | Drawing tool:
        select#dtool
          option(value="line") Line
          option(value="rect") Rectangle
          option(value="pencil") Pencil
    #container
      #plans
      canvas#canvas
    script(src="/js/measure.js", type="text/javascript")
    script(src="/js/control.js", type="text/javascript")

